@{
Layout="";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ForgeApp</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://developer.api.autodesk.com/viewingservice/v1/viewers/style.min.css">
    <script src="https://developer.api.autodesk.com/derivativeservice/v2/viewers/three.min.js?v=3.2.1"></script>
    <script src="https://developer.api.autodesk.com/derivativeservice/v2/viewers/viewer3D.js?v=3.2.1"></script>
</head>
<body>
<app-root></app-root>
<script type="text/javascript" src="inline.bundle.js"></script><script type="text/javascript" src="polyfills.bundle.js"></script><script type="text/javascript" src="styles.bundle.js"></script><script type="text/javascript" src="vendor.bundle.js"></script><script type="text/javascript" src="main.bundle.js"></script></body>
</html>
